click
cn2an
fastapi
fastlid
g2p_en
GPUtil
gradio
huggingface_hub
inflect
jaconv
jieba
jieba_fast
langid
librosa
loguru
matplotlib
num2words
numba
numpy
onnxruntime_gpu
openCC==1.1.6
openi
pandas
psutil
pyopenjtalk_prebuilt
pypinyin
PyYAML
regex
scipy
soundfile
tqdm
transformers
uvicorn
WeTextProcessing
typer==0.11.1
# vector_quantize_pytorch==1.14.6 --no-deps
einops
einx